<!DOCTYPE html>
<html>

<body>

    <h2>AI Resume Screener</h2>

    <form action="/upload" method="post" enctype="multipart/form-data">

        Upload Resume:
        <input type="file" name="resume" accept=".pdf">

        <br><br>

        Job Description:
        <textarea name=" job"></textarea>

        <br><br>

        <button type="submit">Check Score</button>

    </form>

    <h3>Match Score: {{result}} %</h3>
    <h3>Skills Found:</h3>
    <ul>
        {% for s in skills %}
        <li>{{s}}</li>
        {% endfor %}
    </ul>

</body>

</html>